{{ $links := .Site.Params.links }}

{{ if (and (not .Site.Params.hide_feedback) (.Site.Params.ui.feedback.enable)) }}
  {{ partial "feedback.html" .Site.Params.ui.feedback }}
{{ end }}

<footer class="d-print-none">
  <div class="footer-top">
    {{ with $links }}
      {{ with index . "user"}}
        {{ template "footer-links-block"  . }}
      {{ end }}
    {{ end }}
  </div>

  <div class="footer-bottom">
    {{ with .Site.Params.privacy_policy }}<span class="mr-2"><a href="{{ . }}" target="_blank">{{ T "footer_privacy_policy" }}</a></span>{{ end }}

    {{ if not .Site.Params.ui.footer_about_disable }}
      {{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
    {{ end }}

    {{ with .Site.Params.copyright_plaidcloud }}&copy; {{ now.Year}} {{ T "main_documentation_license" | safeHTML }}{{ end }}
  </div>
</footer>

{{ define "footer-links-block" }}
  <div class="footer-items">
    {{ range . }}
      <div class="footer-item">
        <a target="_blank" href="{{ .url }}">
          <i class="{{ .icon }}"></i>
          {{ .name }}
        </a>
      </div>
    {{ end }}
  </div>
{{ end }}