{{ $original := .Get "src" }}
<div id="ohpen_swagger_ui"></div>
<script>
  window.onload = function () {
    const ui = SwaggerUIBundle({
      url: {{ $original | relURL }},
      dom_id: '#ohpen_swagger_ui',
      docExpansion: 'none',
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ]
    });
    window.ui = ui;
  };
</script>
<script src="keycloak.js"></script>
<script>
  var keycloak = Keycloak('keycloak.json');
  keycloak.init({ onLoad: 'login-required' })
  .success(function (authenticated) {
    console.log('Login Successful');
    window.authorizations.add("oauth2", new ApiKeyAuthorization("Authorization", "Bearer " + keycloak.token, "header"));
  }).error(function () {
    console.error('Login Failed');
    window.location.reload();
  });
</script>
