{{ $original := .Get "src" }}
<div id="ohpen_swagger_ui"></div>
<script>
  window.onload = function () {
    var hostparts = window.location.host.split('.');
    var domain = hostparts.slice(-2).join('.');
    var url = 'https://' + domain + '/openapi.json';
    console.log('url: ' + url);
    const ui = SwaggerUIBundle({
      // url: {{ $original | relURL }},
      url: url,
      dom_id: '#ohpen_swagger_ui',
      docExpansion: 'none',
      requestInterceptor: function(request) {
        console.log('request: ' + JSON.stringify(request, null, 2));
        if (request.loadSpec || request.url.includes("openid-configuration")) {
          return request;
        }
        // var url = window.location.protocol + '//'+ window.location.host;
        // var method = request.url.substring(url.length);
        // request.url = url + '/rpc';
        var urlparts = request.url.split('/');
        var pivot = urlparts.findIndex(part => part == "json-rpc") + 1;
        var method = urlparts.slice(pivot).join('/');
        request.url = urlparts.slice(0, pivot).join('/');
        request.body = '{"jsonrpc": "2.0", "method": "' + method + '", "id": 1, "params": ' + request.body + '}';
        console.log('processed request: ' + JSON.stringify(request, null, 2));
        return request;
      },
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ]
    });
    window.ui = ui;
  };
</script>
