{{ $original := .Get "src" }}
<div id="ohpen_swagger_ui"></div>
<script>
  window.onload = function () {
    const ui = SwaggerUIBundle({
      url: {{ $original | relURL }},
      dom_id: '#ohpen_swagger_ui',
      docExpansion: 'none',
      requestInterceptor: function(request) {
        console.log('request: ' + JSON.stringify(request, null, 2));
        if (request.loadSpec || request.url.includes("openid-configuration")) {
          return request;
        }
        var url = window.location.protocol + '//'+ window.location.host;
        var method = request.url.substring(url.length);
        // request.url = url + '/rpc';
        request.body = '{"jsonrpc": "2.0", "method": "' + method + '", "id": 1, "params": ' + request.body + '}';
        console.log('processed request: ' + JSON.stringify(request, null, 2));
        return request;
      },
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ]
    });
    window.ui = ui;
  };
</script>
